<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <img class="image" mat-card-image src="./assets/gif/PFDR.gif" alt="sign up gif"> 
  </mat-card-header>
  
    <mat-card-subtitle class="subtitle">
      to enjoy our app please sign up first
    </mat-card-subtitle>
 
  <mat-card-content>
      <mat-form-field class="example-container">
          <input  [(ngModel)] = "name" name = "name" matInput placeholder="Enter your name">
        </mat-form-field>
        <div *ngIf = "code == 'auth/invalid-name'"  class="err" >{{ message }}</div>
        <div *ngIf = "name == null"  class="err" >{{ required }}</div>
  </mat-card-content>

  <mat-card-content>
      <mat-form-field class="example-container">
        <input  [(ngModel)] = "email" name = "email" matInput placeholder="Enter your email" >
      </mat-form-field>
      <div *ngIf = "code == 'auth/invalid-email' "  class="err">{{ message }}</div>
      <div *ngIf = "code == 'auth/email-already-in-use'" class="err">{{ message }}</div>
      <div *ngIf = "email == null" class="err" >{{ required }}</div>
  </mat-card-content>

  <mat-card-content>
    <mat-form-field class="example-container">
      <input [(ngModel)] = "password" name = "password" matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
    <div *ngIf = "code == 'auth/weak-password'"  class="err">{{ message }}</div>
    <div *ngIf = "password == null"  class="err" >{{ required }}</div>
    <div *ngIf = "valid == false"  class="err" >{{ validation }}</div>
  </mat-card-content>

  <mat-card-actions class="signup-button">
    <button  mat-stroked-button color="primary" (click)="tosign()">Sign Up</button>
  </mat-card-actions>
</mat-card>




